@font-face{
    src: url("../font/Montserrat-Thin.ttf");
    font-family: montserrat_thin;
}
body{
    background: #e7f1ef;

}
#signup {
    width: 450px;
    height: 530px;
    margin: 100px auto 50px auto;
    padding: 20px;
    position: relative;
    background: #fff;
    border: 45px solid #ddf7ef;
    border-radius: 10px;
}
h1{
    margin: 19px;
    text-align: center;
    font-family:montserrat_thin;
    font-size: 30px;
    color: #605e5e;
}

.placeholder{
    color: #bbb;
}
#signup input{
    margin: 5px 0;
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}


#signup input:focus{
    outline: 0;
    border-color: #aaa;
    background: #d1eaef;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3) inset;
}
.button{
    margin: 20px 0 0 0;
    padding: 15px 8px;
    width: 100%;
    cursor: pointer;
    border: 1px solid #2493FF;
    overflow: visible;
    display: inline-block;
    color: #fff;
    font: bold 1.4em arial, helvetica;
    text-shadow: 0 -1px 0 rgba(0,0,0,.4);
    background-color: #2493ff;
    background-image: linear-gradient(top, rgba(255,255,255,.5), rgba(255,255,255,0));
    transition: background-color .2s ease-out;
    border-radius: 3px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .3), 0 1px 0 rgba(255, 255, 255, .5) inset;
}
.button:hover{
    background-color: #7cbfff;
    border-color: #7cbfff;
}
.button:active{
    position: relative;
    top: 3px;
    text-shadow: none;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .3) inset;
}
p{
    text-align: center;
}
.text{
    color: #bbbbbb;
}
a{
    text-decoration: none;
}